volumes:
    backend-data:
    runtime-data:
    static-data:
    dashboard-db-data:

networks:
    public:
    private:

secrets:
    postgres_password_secret:
        file: ./backend/runtime/secrets/postgres_password_secret

services:
    backend:
        container_name: dashboard_backend_service
        build:
            context: ./backend
        volumes:
            - backend-data:${BACKEND_VOLUME_DIR:-/volume_data}
        env_file:
            - .env.backend
        networks:
            - private
            - public
        restart: always
        image: ${IMAGE_REGISTRY:-ghcr.io}/${IMAGE_REPOSITORY:-local}/dashboard-backend:${IMAGE_TAG:-latest}
        environment:
            - CONTAINER_MODE=backend
        command:
            - poetry
            - run
            - gunicorn
            - kernelCI.wsgi:application
            - --workers=5
            - --forwarded-allow-ips=*
            - --bind=0.0.0.0:8000
            - --timeout=250
        entrypoint: "./utils/docker/backend_entrypoint.sh"
        depends_on:
            - redis
            - dashboard_db
        ports:
            - target: 8000
              published: 8000
              protocol: tcp
              mode: host
            - target: 8001
              published: 8001
              protocol: tcp
              mode: host

    ingester:
        container_name: dashboard_ingester_service
        build:
            context: ./backend
        volumes:
            - backend-data:${BACKEND_VOLUME_DIR:-/volume_data} # Directory of the tree names file and other data
            - ${INGESTER_SPOOL_DIR}:/app/spool                 # Directory for ingester to monitor
        env_file:
            - .env.ingester
        networks:
            - private
            - public
        environment:
            # Pass down the variable from .env to inside the container
            - INGESTER_METRICS_PORT=${INGESTER_METRICS_PORT:-8002}
        command:
            - poetry
            - run
            - python3
            - manage.py
            - monitor_submissions
            - --spool-dir
            - /app/spool
        restart: always
        depends_on:
            - dashboard_db
        ports:
            - target: ${INGESTER_METRICS_PORT:-8002}
              published: ${INGESTER_METRICS_PORT:-8002}
              protocol: tcp
              mode: host
        profiles: ["with_commands"]
    
    pending_aggregations_processor:
        container_name: pending_aggregations_processor_service
        build:
            context: ./backend
        env_file:
            - .env.pending_aggregations
        networks:
            - private
            - public
        environment:
            - PENDING_AGGREGATIONS_METRICS_PORT=${PENDING_AGGREGATIONS_METRICS_PORT:-8003}
        command:
            - poetry
            - run
            - python3
            - manage.py
            - process_pending_aggregations
            - --loop
            - --interval
            - "5"
        restart: always
        depends_on:
            - dashboard_db
        ports:
            - target: 8001
              published: ${PENDING_AGGREGATIONS_METRICS_PORT:-8003}
              protocol: tcp
              mode: host
        profiles: ["with_commands"]

    dashboard_db:
        image: postgres:17
        env_file:
            - .env.db
        volumes:
            - dashboard-db-data:/var/lib/postgresql/data
        networks:
            - private
        ports:
            - "5434:5432"

    redis:
        image: redis:8.0-M04-alpine
        restart: always
        networks:
            - private
        ports:
            - 6379:6379

    dashboard:
        build:
            context: .
            dockerfile: ./dashboard/Dockerfile
        image: ${IMAGE_REGISTRY:-ghcr.io}/${IMAGE_REPOSITORY:-local}/dashboard-frontend:${IMAGE_TAG:-latest}
        volumes:
            - static-data:/data/static

    proxy:
        build: ./proxy
        image: ${IMAGE_REGISTRY:-ghcr.io}/${IMAGE_REPOSITORY:-local}/dashboard-proxy:${IMAGE_TAG:-latest}
        restart: always
        depends_on:
            - backend
            - dashboard
        networks:
            - public
        volumes:
            - static-data:/data/static
        ports:
            - target: 80
              published: 80
              protocol: tcp
              mode: host
        env_file:
            - .env.proxy
